.mat-icon {
    color: #629C44;
  }
  
  .container {
    text-align: justify;
    margin-left: 50px;
  }
  
  .noticias {
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
  }
  
  .noticia-image {
    width: 150px;
    height: 150px;
    border: 1px solid #ddd;
    margin: 0 10px;
  }
  
  .custom-image-center{
    width: 500px;
    margin: auto;
  }
  
  .button-imc{
    padding-bottom: 10px;
    padding-top: 10px;
  }
  
  .button-imc a{
    background-color: #629C44;
    color: white;
  }
  
  .button-imc mat-icon {
    color: white;
  }
  
  .whatsapp-link {
    position: fixed; 
    bottom: 20px; 
    right: 20px;
  }
  
  .welcome-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .logo-container {
    padding-left: 70px;
    padding-right: 80px;
  }