.mat-card-header {
    justify-content: center;
    align-items: center;
}

.mat-card-title {
    text-align: center;
}

.container {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    height: auto;
    padding: 20px;
}

.login-card {
    max-width: 1000px;
    width: 100%;
    border: none;
}

.card-content {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
}

.gif-clase {
    margin: 0 auto 20px auto;
    max-width: 100%;
}

.custom-form-field {
    width: 100%;
    margin-bottom: 15px;
}

.form {
    flex: 1;
    margin-right: 40px;
    max-width: 400px;
}

.table-wrapper {
    flex: 2;
    overflow-x: auto;
    min-width: 300px;
}

.example-button-row {
    text-align: center;
}
