.example-spacer {
  flex: 1 1 auto;
}

.mat-toolbar{
    color: white;
}

.custom-image {
    width: 200px;
    margin: auto;
}

.custom-toolbar {
    background-color: white;
    border-bottom: 1px solid #ddd;
  }

.mat-icon {
  color: #629C44;
}
