<mat-toolbar class="custom-toolbar">
    <span (click)="irHome()"><img src="assets/img/logo.png" class="custom-image" alt="Logo"></span>
    &nbsp;&nbsp;
    <button mat-button (click)="irRegistrarComidas()">Registrar Comidas</button>
    &nbsp;&nbsp;
    <button mat-button (click)="irConsultarComidas()">Consultar Comidas</button>
    &nbsp;&nbsp;
    <button mat-button (click)="irRegistrarHabitos()">Registrar habitos</button>
    &nbsp;&nbsp;
    <button mat-button (click)="irDatos()">Datos</button>
    &nbsp;&nbsp;
    <button mat-button (click)="irNoticias()">Noticias</button>
  
    <span class="example-spacer"></span>

    <button mat-icon-button
     class="example-icon" aria-label="Example icon-button with share icon">
      <mat-icon>settings</mat-icon>
    </button>
    <button mat-icon-button
    (click)="salir()"
     class="example-icon" aria-label="Example icon-button with share icon">
      <mat-icon>logout</mat-icon>
    </button>
  </mat-toolbar>

  <router-outlet></router-outlet>