<div class="container">
    <mat-card appearance="outlined" class="login-card">
    <hr/>
    <mat-card-header class="mat-card-header">
      <mat-card-title class="mat-card-title">Registrar habito</mat-card-title>
  </mat-card-header>
      <hr/>
      <img src="assets/img/habito.gif" alt="Gif descriptivo" class="gif-clase" />
      <mat-card-content>
          <div class="form">
            <mat-form-field class="custom-form-field">
              <mat-label>Ingresar habito</mat-label>
              <input matInput type="text" #txthabito>
          </mat-form-field>

          <section>
            <div class="example-button-row">
              <button mat-raised-button>Registrar habito</button>
            </div>
          </section>
          <p>
            <table mat-table [dataSource]="habitos" class="mat-elevation-z8">
              <ng-container matColumnDef="idhabito">
                <th mat-header-cell *matHeaderCellDef> ID </th>
                <td mat-cell *matCellDef="let element"> {{element.idhabito}} </td>
              </ng-container>
              <ng-container matColumnDef="descripcionhabito">
                <th mat-header-cell *matHeaderCellDef> Descripcion </th>
                <td mat-cell *matCellDef="let element"> {{element.descripcionhabito}} </td>
              </ng-container>
              <ng-container matColumnDef="progreso">
                <th mat-header-cell *matHeaderCellDef> Progreso </th>
                <td mat-cell *matCellDef="let element"> {{element.progreso}} </td>
              </ng-container>
              <ng-container matColumnDef="frecuencia">
                <th mat-header-cell *matHeaderCellDef> frecuencia </th>
                <td mat-cell *matCellDef="let element"> {{element.frecuencia}} </td>
              </ng-container>
              <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
              <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            </table>
            
          </div>
      </mat-card-content>
    </mat-card>